<IfModule mod_rewrite.c>

    Options -MultiViews

    RewriteEngine On
    # RewriteBase /galiatthesis/

    # # Allow access to cockpit or to laravel
    RewriteCond %{REQUEST_URI} !^.*/galiatthesis/cockpit/.*$
    RewriteCond %{REQUEST_URI} !^.*/galiatthesis/laravel/.*$
    RewriteCond %{REQUEST_URI} !^.*/galiatthesis/build/.*$
    # # Otherwise, redirect to "build" folder
    RewriteRule ^.*$ build/$0 [L]

</IfModule>